<section class="section-container" id="post-container">
  <%= link_to 'New Post', new_post_path %>
  <%= render @posts %>
  <%= tag.div data: { lazy_request: posts_path(page: @pagy.next, format: :js) } if @pagy.next %>
</section>
